.card-container{
  padding: 23px;
}

// .input-height input {
//   height: 30px;
//   padding: 0;
//   font-size: 14px;
// }
ion-button {
  --background:#0d4269;
}

::placeholder {
  /* Change the placeholder color to red */
  color: #989fa5;
  text-align: left;
}
