<!-- <div class="modal fade" id="dg-terms-popup" tabindex="-1" role="view" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeTermsPopup()"></button>
        <h4 class="modal-title">Terms and Conditions</h4>
      </div>
      <div class="modal-body">
        <ol>
          <li>The information provided using this application is only intended to be general summary information to the public.
            The service provider is not the author of any such information. He has only complied information which is available
            publicly and which is available in various URL Links of the respective public sites.</li>
          <li>We have obtained the information of the various public notices which have been published in the various news papers
            in selected cities of Maharashtra state pertaining to the properties in which the author of the notice has issued
            a paper notice for verification of his property. One that is owned by him, in which he has sights or that he
            intends to purchase.</li>
          <li>We do not hold copyright to the said paper notice published to verify the title of the property, the replies given
            to public notices. The caution notices published to cause awareness to public at large about the title, its rights
            and its defects and disclaimers. These are held by the owner or by the person who has published the said paper
            notice for title verification.</li>
          <li>We also do not vouch that the notices have been published by the owner of the property. The mistakes committed
            by the author and the publisher shall not reflect upon us as we are only providing the information published
            by a third person to public at large. This information is available on all other internet portals of the publishing
            houses as well.</li>
          <li>We do not intend to hold any copy right or any other rights over the information provided and accumulated. It is
            a summary of the public notices published in the various local news papers in Nashik pertaining to the landed
            properties and the constructed properties situated in Nashik.</li>
          <li>We only provide the data provided and assembled from third parties as data source. We do not create this data and
            cannot vouch for the accuracy, authenticity of the same. We cannot guarantee about the genuineness of the same.</li>
          <li>We do not claim any accuracy, adequacy or completeness of any data and shall not be held responsible for any errors,
            omissions or defects in delay or interpretations of any data or for any action taken in reliance thereof.</li>
          <li>Neither shall they be held liable for any damages with respect to the use thereof. We do not own the data collected
            by us and the same is not our property.</li>
          <li>We hold the rights to the software prepared for the launching of this site which holds the data collected from
            different sources. We have developed the software for our use and hold rights to the same and also to the concept
            which is developed by us.</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" (click)="closeTermsPopup()">Close</button>
      </div>
    </div>
  </div>
</div>
 -->

<!-- 
<ion-content class="ion-padding">

  <ion-button id="open-modal" expand="block">Open Modal</ion-button>
  <div class="card-container">
    <ion-card style="border-radius: 29px; padding: 15px; background-color: #ecf7fd;">
      <ion-card-header style="text-align: center;">
        <ion-card-title style="font-weight: 800;">SIGN UP</ion-card-title>
      </ion-card-header>
      <ion-modal #modal trigger="open-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
        <ng-template>

          <ion-content>
            <ol>
              <li>The information provided using this application is only intended to be general summary information to
                the
                public.
                The service provider is not the author of any such information. He has only complied information which
                is
                available
                publicly and which is available in various URL Links of the respective public sites.</li>
              <li>We have obtained the information of the various public notices which have been published in the
                various
                news papers
                in selected cities of Maharashtra state pertaining to the properties in which the author of the notice
                has
                issued
                a paper notice for verification of his property. One that is owned by him, in which he has sights or
                that he
                intends to purchase.</li>
              <li>We do not hold copyright to the said paper notice published to verify the title of the property, the
                replies given
                to public notices. The caution notices published to cause awareness to public at large about the title,
                its
                rights
                and its defects and disclaimers. These are held by the owner or by the person who has published the said
                paper
                notice for title verification.</li>
              <li>We also do not vouch that the notices have been published by the owner of the property. The mistakes
                committed
                by the author and the publisher shall not reflect upon us as we are only providing the information
                published
                by a third person to public at large. This information is available on all other internet portals of the
                publishing
                houses as well.</li>
              <li>We do not intend to hold any copy right or any other rights over the information provided and
                accumulated.
                It is
                a summary of the public notices published in the various local news papers in Nashik pertaining to the
                landed
                properties and the constructed properties situated in Nashik.</li>
              <li>We only provide the data provided and assembled from third parties as data source. We do not create
                this
                data and
                cannot vouch for the accuracy, authenticity of the same. We cannot guarantee about the genuineness of
                the
                same.</li>
              <li>We do not claim any accuracy, adequacy or completeness of any data and shall not be held responsible
                for
                any errors,
                omissions or defects in delay or interpretations of any data or for any action taken in reliance
                thereof.
              </li>
              <li>Neither shall they be held liable for any damages with respect to the use thereof. We do not own the
                data
                collected
                by us and the same is not our property.</li>
              <li>We hold the rights to the software prepared for the launching of this site which holds the data
                collected
                from
                different sources. We have developed the software for our use and hold rights to the same and also to
                the
                concept
                which is developed by us.</li>
            </ol>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card>
  </div>
</ion-content> -->


<ion-content class="ion-padding">

  <ion-modal #modal trigger="open-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
    <ng-template>
      <ion-content>
        <div class="sticky-toolbar">
          <ion-toolbar style=" padding: 10px;">
            <ion-title style="text-align: center;">Terms and Conditions</ion-title>
            <ion-buttons slot="end">
              <span (click)="modal.dismiss()">
                <i class="fa fa-times-circle"></i>
              </span>
              <!-- <ion-button color="light" (click)="modal.dismiss()">Close</ion-button> -->
            </ion-buttons>
          </ion-toolbar>
        </div>
        <ol style="padding:30px;">
          <li>The information provided using this application is only intended to be general summary information to
            the
            public.
            The service provider is not the author of any such information. He has only complied information which
            is
            available
            publicly and which is available in various URL Links of the respective public sites.</li>
          <li>We have obtained the information of the various public notices which have been published in the
            various
            news papers
            in selected cities of Maharashtra state pertaining to the properties in which the author of the notice
            has
            issued
            a paper notice for verification of his property. One that is owned by him, in which he has sights or
            that he
            intends to purchase.</li>
          <li>We do not hold copyright to the said paper notice published to verify the title of the property, the
            replies given
            to public notices. The caution notices published to cause awareness to public at large about the title,
            its
            rights
            and its defects and disclaimers. These are held by the owner or by the person who has published the said
            paper
            notice for title verification.</li>
          <li>We also do not vouch that the notices have been published by the owner of the property. The mistakes
            committed
            by the author and the publisher shall not reflect upon us as we are only providing the information
            published
            by a third person to public at large. This information is available on all other internet portals of the
            publishing
            houses as well.</li>
          <li>We do not intend to hold any copy right or any other rights over the information provided and
            accumulated.
            It is
            a summary of the public notices published in the various local news papers in Nashik pertaining to the
            landed
            properties and the constructed properties situated in Nashik.</li>
          <li>We only provide the data provided and assembled from third parties as data source. We do not create
            this
            data and
            cannot vouch for the accuracy, authenticity of the same. We cannot guarantee about the genuineness of
            the
            same.</li>
          <li>We do not claim any accuracy, adequacy or completeness of any data and shall not be held responsible
            for
            any errors,
            omissions or defects in delay or interpretations of any data or for any action taken in reliance
            thereof.
          </li>
          <li>Neither shall they be held liable for any damages with respect to the use thereof. We do not own the
            data
            collected
            by us and the same is not our property.</li>
          <li>We hold the rights to the software prepared for the launching of this site which holds the data
            collected
            from
            different sources. We have developed the software for our use and hold rights to the same and also to
            the
            concept
            which is developed by us.</li>
        </ol>
       <div style="text-align: center;margin-bottom: 10px;">
          <ion-button  color="dark" (click)="modal.dismiss()">Close</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>