<!-- <form [formGroup]="searchForm" (submit)="onSubmit()">
    <ion-input type="text" formControlName="searchText"></ion-input>
    <ion-button type="submit">Search</ion-button>
  </form> -->
<ion-grid [fixed]="true">
  <ion-row>
    <ion-col size="auto"
      ><ion-button
        size="small"
        id="open notice-type"
        class="lowercase-placeholder grey"
      >
        <span class="material-icons"> description </span>Select Notice
        Type</ion-button
      ></ion-col
    >
    <ion-col size="auto"
      ><ion-button size="small" id="grey" class="lowercase-placeholder grey">
        <span class="material-icons"> location_on </span>Select
        District</ion-button
      ></ion-col
    >
    <ion-col size="auto">
      <ion-button size="small" id="grey" class="lowercase-placeholder grey">
        <span class="material-icons"> search </span>Search</ion-button
      >
    </ion-col>
  </ion-row>
</ion-grid>
<!-- element.style {
    border-radius: 7px;
    font-family: arial;
    font-size: 11px;
    color: black;
    padding: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
} -->

<ion-content class="ion-padding">
  <ion-modal #noticeModal trigger="open notice-type" class="notice-type">
    <ng-template>
      <div class="modal-body">
        <ion-toolbar>
          <ion-title>Select Notice Type</ion-title>
          <ion-button
            size="small"
            (click)="noticeModal.dismiss()"
            class="close"
          >
            x</ion-button
          >
        </ion-toolbar>
        <ion-content >
          <ion-list lines="none" class="list">
            <ion-item *ngFor="let notice of NoticeType">
              <ion-label > <ion-checkbox (ionChange)="checkboxClicked($event)"></ion-checkbox>
                {{notice.name}}</ion-label>
            </ion-item>
            
          </ion-list>
        </ion-content>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
