<!-- <form [formGroup]="searchForm" (submit)="onSubmit()">
    <ion-input type="text" formControlName="searchText"></ion-input>
    <ion-button type="submit">Search</ion-button>
  </form> -->
<ion-grid [fixed]="true">
  <ion-row>
    <ion-col size="auto"
      ><ion-button
        size="small"
        id="open notice-type"
        class="lowercase-placeholder grey"
      >
        <span class="material-icons"> description </span>Select Notice
        Type</ion-button
      ></ion-col
    >
    <ion-col size="auto"
      ><ion-button size="small" id="grey" class="lowercase-placeholder grey">
        <span class="material-icons"> location_on </span>Select
        District</ion-button
      ></ion-col
    >
    <ion-col size="auto">
      <ion-button size="small" id="grey" class="lowercase-placeholder grey">
        <span class="material-icons"> search </span>Search</ion-button
      >
    </ion-col>
  </ion-row>
</ion-grid>
<ion-content class="ion-padding">
  <ion-modal #noticeModal trigger="open notice-type" class="notice-type">
    <ng-template>
      <ion-content class="modal-body">
        <ion-toolbar style="position: fixed">
          <ion-title>Select Notice Type</ion-title>
          <ion-button
            size="small"
            (click)="noticeModal.dismiss()"
            class="close"
          >
            x</ion-button
          >
        </ion-toolbar>
        <br />
        <br />
        <div>
          <ion-list lines="none" class="list">
            <ion-item>
              <ion-checkbox
                justify="start"
                class="notice-type"
                labelPlacement="end"
                value="All"
                [(ngModel)]="selectAll"
                (click)="selectAllCheckboxes()"
                >All Notice Type</ion-checkbox
              >
            </ion-item>
            <ion-item *ngFor="let notice of NoticeType">
              <ion-checkbox
                justify="start"
                class="notice-type"
                labelPlacement="end"
                [value]="notice.id"
                [(ngModel)]="notice.checked"
                (ionChange)="onCheckboxChange(notice, $event)"
                >{{ notice.name }}</ion-checkbox
              >
            </ion-item>
          </ion-list>
        </div>
        <ion-toolbar>
          <ion-button class="save" (click)="onSaveNoticeType()"
            >Save</ion-button
          >
        </ion-toolbar>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
